.bg-green {
    background-color: #4aba70 !important;
}

.list-link {
    color: initial !important;
}

.details-description, .details-back, .details-column {
    margin-top: 100px;
}

.material-icons {
    cursor: pointer;
}

.footer-copyright {
    color: white;
    background-color: #4aba70;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}